{$N8N_DOMAIN} {
    encode gzip zstd

    reverse_proxy n8n:5678 {
        flush_interval -1
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-For {remote_host}
    }
}
